<p>Hi <%= @resource.email %>!!<p>
<p>This is the Reset/Change password link/button. If you click this link/button to navigate to Reset/Change the password</p>
<% reset_password_link = edit_password_url(@resource, reset_password_token: @token) %>
<%= link_to reset_password_link do %>
   <button class="new-password-button">
     Choose a new password
   </button>
<% end %>
<p>Suppose may be this is not for you, please ignore this mail and we are not share your information to anyone.</p>
<p>Have a nice day:):)</p>
<p>Thanking You....</p>